html {
    background-color: #f0f0f0;
}

html,
body,
main,
.view {
  height: 100%;
}

body {
  position: relative;
}

@media (max-width: 740px) {
  .contact-section {
    background-color: #f0f0f0;
  }
}

@media (min-width: 1025px) {
  .contact-section {
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('./../img/background/contact-image.jpg');
  }
}

.contact-section {
  height: 100vh;
}

.profile-picture {
  border-radius: 50%;
  border: 5px solid white;
}

@media (max-width: 740px) {
  html,
  body,
  main,
  .view {
    height: 100vh;
  }
}

.welcome-section {
  background-image: url('./../img/background/welcome-image.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
}

.nav-item .active {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-nav-collapse {
  background-color: grey !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

@media (max-height: 670px) {
  h1 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  .welcome-container {
    margin-top: 70px;
  }
}

h1 {
  letter-spacing: 6px;
}

h5 {
  letter-spacing: 3px;
}

#aboutme h5 {
  letter-spacing: 2px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

@media (max-width: 740px) {
  #contact-info {
    padding: 0px 30px;
  }
}

#contact-info {
  margin: 0px;
}

@media (min-width: 769px) {
  .contact-details {
    height: 50%;
  }

  .contact-title {
    height: 30%;
  }
}

p{
  font-size: 15px;
}

p a {
  color: black;
}

.skill-container .card {
  margin: 5px;
}

.social-icon {
  padding: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}

.social-icon:hover {
  opacity: 0.8;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.fa-linkedin, .fa-github {
  background: #495057;
  color: #e0e0e0;
}

.icon-style {
  color: #495057;
  font-size: 36px;
}

.btn-download {
  background-color: #495057;
  color:#e0e0e0;
}